.bgtransparent{
    position:fixed;
    left:0;
    top:0;
    background-color:#000;
    opacity:0.6;
    filter:alpha(opacity=60);
    /*z-index: 500;*/
}

.bgmodal{
    position:fixed;
    font-family:arial;
    font-size:1em;
    border:0.05em solid black;
    overflow:auto;
    background-color:#336699;
    border-radius: 5px 5px 5px 5px;
}
.bgMessage{
    position:fixed;
    font-family:arial;
    font-size:1em;
    /*border:0.05em solid black;*/
    overflow:auto;
    background-color:#8c99a4;
    border-radius: 5px 5px 5px 5px;
}
.windowHeader{
    /*position: absolute;*/
    float: left;
    margin:0px auto 0px auto;
    font-family:"Trajan Pro","Times New Roman", Times, serif;
    color:#333333;
    background-color: #ffffff;
    /*text-align: center;*/
    width: 100%;
    height: 105px;
    top: 0px;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
    padding-top: 5px;
    /*-webkit-align-content: center;*/
    /*align-content: center;*/

}
.windowHeader span{
    top: 4px;
    margin: 4px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #27ae60;
}
.windowHeader a{
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a5b8c6;
    color: #ffffff;
}
.zem-title{
    height: 87px;
    /*position: absolute;*/
    z-index: 50;
}
.loading{
    background-image: url("../img/load.gif");
    background-repeat:no-repeat;
    /*background-color: #27ae60;*/
    display: inline-block;
    width: 54px;
    height: 55px;
}
.loading p{
    /*background-color: #27ae60;*/
    color: #008BFF;
    position: relative;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    font-size: 10px;
    width: 50px;
    /*height: 50%;*/
}
.load{
    margin:0px auto 0px auto;
    background-color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.windowBody{
    float: left;
    padding-left: 10px;
    padding-right: 10px;

}
.windowFoot{
    position: absolute;
    background-color: #336699;
    width: 100%;
    height: 25px;
    bottom: 0px;
    padding-top: 3px;
}
.success{
    background-color: #27ae60;
    height: 25px;
    /*width: 25px;*/
    min-height: 50px;
    min-width: 50%;
}
.success span{
    float: left;
    cursor: pointer;
    top: 4px;
    margin: 4px;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 15px;
    /*background-color: #ffffff;*/
    /*color: darkred;*/
    /*font-size: 20px;*/
    background-image:url("../img/succes.png");
    background-repeat: no-repeat;
    background-size: 35px;

}
/*.icon-success{*/
    /*background-image:url("../img/succes.png");*/
/*}*/
.warning{
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*margin-top: 15px;*/
    padding-top: 15px;
    background-color: #d9534f;
    height: 25px;
    color: #ffffff;
    text-align: center;
    min-height: 50px;
    min-width: 50%;
}
.warning span{
    float: left;
    cursor: pointer;
    top: 4px;
    margin: 4px;
    padding: 5px;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: block;
    background-color: #ffffff;
    color: darkred;
    font-size: 20px;
    background-image:url("../img/warning.png");
    background-repeat: no-repeat;
    background-size: 35px;
}
.notice{
    background-color: #008BFF;
    height: 25px;
    /*width: 25px;*/
    min-height: 50px;
    min-width: 50%;
}
.notice span{
    float: left;
    cursor: pointer;
    top: 4px;
    margin: 4px;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 15px;
    /*background-color: #ffffff;*/
    /*color: darkred;*/
    /*font-size: 20px;*/
    background-image:url("../img/info.png");
    background-repeat: no-repeat;
    background-size: 35px;

}
.modal{
    padding-top: 15px;
    background-color: #428bcf;
    height: 25px;
    color: #ffffff;
    text-align: center;
    min-height: 50px;
    min-width: 50%;
}
.modal span{
    cursor: pointer;
    top: 4px;
    left: 5px;
    margin: 4px;
    padding: 5px;
    border-radius: 15px;
    background-color: #428bca;
    color: #ffffff;
    font-size: 20px;
}
.info{
    background-color: #428bca;
    height: 25px;
}
.enabled{
    display: none;
}
.enabled + label:before{
    width: 20px;
    height: 20px;
    background-color:#59B200;
    border-radius: 3px;
    color:#333333;
    cursor: pointer;
    padding: 3px;
}
.enabledLevel{
    display: none;
}
.enabledLevel + label:before{
    width: 20px;
    height: 20px;
    background-color:#FF8000;
    border-radius: 3px;
    color:#333333;
    cursor: pointer;
    padding: 3px;
}
.enabledTeacher{
    display: none;
}
.enabledTeacher + label:before{
    width: 20px;
    height: 20px;
    background-color:#FFBF00;
    border-radius: 3px;
    color:#333333;
    cursor: pointer;
    padding: 3px;
}
.cField{
    bottom: 0px;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #FFBF00;
    z-index: 500;
    color: #ffffff;
}
.cField p label{
    color: #ffffff;
}